<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/lib.css">
        <link rel="stylesheet" href="../static/css/homestyle.css">
        <link rel="stylesheet" href="../static/css/colors.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/homestyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/colors.css') }}">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>

<body class="background-color">
    <main class="d-flex justify-content-between gap30 padding20">
        <div class="d-flex">
            <div class="left-panel d-flex flex-column align-items-start gap30">
                <div id="home" class="active rm-styling d-flex align-items-center justify-content-center blue">
                    <p class="font20">home</p>
                </div>
                {% for room in rooms %}
                    {% if room.name != None %}
                    <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                        <a href="/rm/{{room.name}}/{{room.id}}" class="font20 no-a-styling ">RM{{room.id}}</a>
                    </div>
                    {% endif %}
                {% endfor %}

               <a href="/add_rm"><img class="addbtn" src = "{{ url_for('static', filename = 'images/add_room.png')}}"></a>
                <!-- <div id="RM1" class="rm-styling d-flex align-items-center justify-content-center rm-color">
                    <p class="font20">RM1</p>
                </div>
                <div id="RM2" class="rm-styling d-flex align-items-center justify-content-center rm-color">
                    <p class="font20">RM2</p>
                </div>
                <div id="RM3" class="rm-styling d-flex align-items-center justify-content-center rm-color">
                    <p class="font20">RM3</p>
                </div>
                <div id="RM4" class="rm-styling d-flex align-items-center justify-content-center rm-color">
                    <p class="font20">RM4</p>
                </div>
                <div id="RM5" class="rm-styling d-flex align-items-center justify-content-center rm-color">
                    <p class="font20">RM5</p>
                </div> -->
            </div>

            <!-- <div>
                <img src="../static/images/face.png" class="display-icon displayPos green">
                <img src="../static/images/edit.png" class="editPos">
            </div>
             -->
        </div>

        {% if available_rooms %}
        <form class="jnrm-color jnrm col-6 mx-auto display-flex flex-column gap50">
            <h1 class="display-4 text-center">JOIN ROOM</h1>
            <select id="join-room" class="form-control-lg" name="room_id">
                {% for room in available_rooms %}
                    {% if room.name != None %}
                        <option value="{{ room.id }}">{{ room.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="form-control-sm btn jnrm-btn-color font30">join</button>
         </form>
         {% endif %}

        <a href="/logout" class="btn btn-secondary font30 height70">Logout</a>
        
        
        <!-- <div class="mx-auto d-flex flex-column gap30">
            <div id="friendBorder" class="d-flex flex-column gap30 row-3 padding20">
                <div class="d-flex gap20">
                    <div>
                        <p class="display-4 text-center">4 friends</p>
                        <input placeholder="search..." type="text">
                    </div>
                    <img id="addFriend" src="../static/images/fluent-mdl2_add-friend.png" class="addFriend">
                </div>
                <div class="d-flex flex-column gap20">
                    
                    <div class="d-flex align-items-center gap30">
                        <p class="user-banner font20 usertwo-color">User 2</p>
                        <img id="inv1" src="../static/images/invite.png" class="invite-icon">
                    </div>
        
                    <div class="d-flex align-items-center gap30">
                        <p class="user-banner font20 userthree-color">User 3</p>
                        <img src="../static/images/invite.png" class="invite-icon">
                    </div>
        
                    <div class="d-flex align-items-center gap30">
                        <p class="user-banner font20 userfour-color">User 4</p>
                        <img src="../static/images/invite.png" class="invite-icon">
                    </div>
        
                    <div class="d-flex align-items-center gap30">
                        <p class="user-banner font20 userfive-color">User 5</p>
                        <img src="../static/images/invite.png" class="invite-icon">
                    </div>
                </div>
                </div>

                <div class="d-flex flex-column gap30">
                    <p class="display-4 text-center">pending</p>
                    <div id="pending-content" class="d-flex gap30">
                        <p class="user-banner font20 usersix-color">User 6</p>
                        <img id="accept" src="../static/images/accept.png" alt="accept">
                        <img  id="decline" src="../static/images/decline.png" alt="decline">
                    </div>

                </div>

            

        </div> -->
    </main>

    <!-- <form class="mx-auto col-4">
       
    </form> -->

    <!-- <script src="../static/js/testinghome.js"> -->
    <script src="{{ url_for('static', filename = 'js/scripthome.js') }}"></script>
</body>

</html>