<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/lib.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/colors.css">
</head>

<body class="background-color">
    <main class="d-flex justify-content-between gap30 padding20">
        <div class="left-panel d-flex flex-column align-items-start gap30">
            <div class="rm-styling d-flex align-items-center justify-content-center blue">
                <p class="font20">home</p>
            </div>
            <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                <p class="font20">RM1</p>
            </div>
            <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                <p class="font20">RM2</p>
            </div>
            <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                <p class="font20">RM3</p>
            </div>
            <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                <p class="font20">RM4</p>
            </div>
            <div class="rm-styling d-flex align-items-center justify-content-center rm-color">
                <p class="font20">RM5</p>
            </div>
        </div>
        <div id="message-log" class="d-flex flex-column message-log gap20 padding30">
                <div class="message-container">
                <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                <div class="d-flex gap10 align-items-center ">
                    <img src="../static/images/face.png" class="display-icon green">
                    <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                        dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                        officia quidem, molestias autem alias dolores illum quisquam?</p>
                </div>
                </div>
                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>
                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>
                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>
                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>

                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>

                <div class="message-container">
                    <p class="date-padding font20">User 2 Today: at 9:00 AM</p>
                    <div class="d-flex gap10 align-items-center ">
                        <img src="../static/images/face.png" class="display-icon green">
                        <p class="message-styling">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magnam
                            dolorum reprehenderit corporis magni eius corrupti minus reiciendis sunt aspernatur. Vitae ab
                            officia quidem, molestias autem alias dolores illum quisquam?</p>
                    </div>
                </div>
            
        </div>
       
            <img class="member-icon" src="../static/images/fluent_people-16-filled.png">
        
        <div class="right-panel d-flex flex-column align-items-end">
          
            
            <div class="user-list d-flex flex-column gap30 flipped mb-auto">
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center userone-color">
                        <p class="font20">User 1</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center usertwo-color">
                        <p class="font20">User 2</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center userfour-color">
                        <p class="font20">User 3</p>
                    </div>
                </div>

                <div>      
                    <div class="user-styling d-flex justify-content-center align-items-center userfive-color">
                        <p class="font20">User 4</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center usersix-color">
                        <p class="font20">User 5</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center userseven-color">
                        <p class="font20">User 6</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center usereight-color">
                        <p class="font20">User 7</p>
                    </div>
                </div>
                <div>
                    <div class="user-styling d-flex justify-content-center align-items-center usereight-color">
                        <p class="font20">User 7</p>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <form class="mx-auto col-4">
        <input id="messageInput" type="text" class="message-input" placeholder="  Message">
    </form>

    <script src="../static/js/testing.js">
    </script>

</body>

</html>