.blue{
    background-color: #979EE2;
}

.rm-color{
    background-color: #9FCBFF;
}

.userone-color{
    background-color: #E2BB97;
}

.usertwo-color{
    background-color: #97E2AC;
}

.userthree-color{
    background-color: #DB76FF;
}

.userfour-color{
    background-color: #E297DB;
}

.userfive-color{
    background-color: #D8E297;
}

.usersix-color{
    background-color: #97D0E2;
}

.userseven-color{
    background-color: #E29B97;
}

.usereight-color{
    background-color: #E2C497;
}

.jnrm-color{
    background-color:#CEF4F4;
}

.jnrm-btn-color{
    background-color: #B3D984;
    transition: background-color 0.5s;
}

.jnrm-btn-color:hover{
    background-color: #668d37;
}