:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 24px;     */
    line-height: 29px;
    color: #464444
}

.background-color {
    background-color: #B3CCDA;
}

.display-icon {
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.green {
    background-color: #97E2AC;
}


.displayPos{
    position:relative;
    top:25rem;
    right:10rem;
}

.editPos{
    position: relative;
    top:31rem;
    right:17rem;
}

.message-styling {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
}

.message-width{
    width: 50rem;
}

.date-padding {
    padding-left: 4.5rem;
}

p {
    margin-bottom: 0;
}

.gap10 {
    gap: 10px;
}

.message-input {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 0
}

.message-input:active {
    border: 1px solid #464444;
}


.message-log {
    border: 1 solid black;
    overflow-y: scroll;
    height: 1023px;
}

::-webkit-scrollbar {
    width: 40px;
    margin-left: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(83, 118, 242, 0.4);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(225, 225, 225, 0.4);
    border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 73, 151, 0.4);
    border-radius: 20px;
}


.left-panel {
    padding-left: 20px;
    padding-top: 5rem;
    width: 309px;
    height: 1024px;
    left: 0px;
    top: 0px;
    border-radius: 0 50rem 50rem 0;
    background: #A1AACC;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}



.rm-styling {
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

.user-styling {
    width: 219px;
    height: 54px;
    border-radius: 10px;
}

.user-list{
    overflow-y: scroll;
    padding:20px;
    height: 618px;
}

.flipped{
    direction:rtl;
}

.member-icon{
    width: 118px;
    height: 118px;
}

.member-iconPos{
    position: relative;
    left: 15rem;
}

.member-icon:hover{
    cursor: pointer;
}

.user-list::-webkit-scrollbar {
    width: 20px;
}

.rm-styling:hover{
    box-shadow: 0px 0px 0px 10px rgba(255,204,128);
    cursor: pointer;
}

#home{
    box-shadow: 0px 0px 0px 10px rgba(255,204,128);
}


.addFriend{
    width: 80px;
    height:80px;
}

.addFriend:hover{
    cursor: pointer;
}

.invite-icon{
    width: 20px;
    height: 20px;
}

.user-banner{
    width:500px;
    height:40px;
    padding:5px;
    border-radius: 10px;
}

#friendBorder{
    border-bottom: 3px solid rgb(95, 93, 93);
}

#sendrequest{
    background-color: #7F9BFD;
    padding:15px;
    border-radius: 10px;
    color:white;
}

#inv1{
    cursor: pointer;
}

.opacity{
    opacity: 0.5;
}

#accept{
    cursor: pointer;
}

#decline{
    cursor: pointer;
}